

.instructions{
  max-width: 30rem;
  line-height: 2.25;
  &__desc{
  font-size: 1.5rem;
    &-p{
      padding-bottom: 2rem;
    }
  }
  &__rules{
    font-size: 1.5rem;
    &-p{
      padding-bottom: 2rem;
    }
  }
  

}

